:root {
  --green-color: #4b9618;
  --light-color: #d4d4d4;
  --dark-color: #000;
  --max-width: 1170px;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  color: var(--dark-color);
}

/* Utility */

.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 50px;
}

.section {
  margin: 5vh 0;
}

.button {
  background: var(--green-color);
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 1rem 1.25rem;
  border-radius: 50px;
  justify-self: start;
}

.section-title {
  font-family: "Merienda", cursive;
  font-weight: normal;
  color: var(--green-color);
  font-size: 2.5rem;
}

.align-center {
  text-align: center;
}

/* Navigation */

.nav {
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 4px solid var(--light-color);
}

.nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Nav links */
.nav .container .nav-link {
  color: var(--dark-color);
  font-weight: 500;
  text-decoration: none;
  padding: 0 1.25rem;
}

/* Logo */
.nav .container .pickwick-logo {
  max-height: 65px;
  padding: 0.25rem 0;
}

/* Showcase */
.showcase {
  grid: flex;
  height: 80vh;
  background: url("../img/showcase-goedemorgen.jpg") no-repeat center
    center/cover;
  /* Ellips masker: grootte(XY) at middelpunt(XY) */
  clip-path: ellipse(130% 100% at 50% 0%);
}

.showcase .container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 100%;
}

.showcase .showcase-title {
  max-width: 600px;
}

.showcase .showcase-text {
  max-width: 500px;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  line-height: 2rem;
  text-shadow: #000 0 0 5px;
  padding-bottom: 20vh;
}

.new .container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  justify-content: start;
  align-items: center;
}

.new .container .new-img {
  grid-column: 2;
  grid-row: 1 / 4;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

/* Section: Flavors */

.flavors {
  background: #eceade;
  /* Cut sides of masks */
  overflow: hidden;
}

/* Masks */
.mask {
  background: #fff;
  margin: -10% 0;
  height: 20vh;
  width: 120vw;
  margin-left: -10vw;
}
.mask-top {
  border-radius: 0 0 50% 50%;
}
.mask-bottom {
  border-radius: 50% 50% 0 0;
}

.flavors .container {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto repeat(2, 1fr);
  align-items: center;
}

.flavors .container .section-title {
  grid-column: 1 / -1;
}

.flavors .container .card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Chrome stupid
  justify-content: end; */
  text-align: center;
}

.flavors .container .card .flavor-img {
  object-fit: contain;
  max-width: 300px;
  max-height: 300px;
}

.flavors .container .card .flavor-name {
  font-family: "Merienda", cursive;
  font-weight: normal;
  font-size: 1.3rem;
  padding: 1rem 0;
}

/* Section: Tea Topics */

.topics .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-gap: 1.25rem 3rem;
}

.topics .container .topics-video-img {
  grid-row: 1/-1;
  object-fit: contain;
  max-width: 100%;
  align-self: center;
  box-shadow: 0 0.5rem 1rem 0.25rem rgba(0, 0, 0, 0.4);
}

/* Section: Inspire */

.inspire .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.inspire .container .inspire-article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align: center;
}

.inspire .container .inspire-img {
  max-width: 90%;
}

/* Section: Newsletter */

.newsletter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 80vw;
  background: url("../img/showcase-goedemiddag.jpg") no-repeat center
    center/cover;
}

.newsletter {
  overflow: hidden;
}

.newsletter .container {
  padding-right: 0;
}

.newsletter .newsletter-text {
  padding: 2rem 0;
}

.newsletter .newsletter-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
  width: 100%;
}

.newsletter .newsletter-form .span {
  grid-column: span 2;
  width: 100%;
}

.newsletter .newsletter-form .background {
  border: none;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 2rem;
  background: rgba(255, 255, 255, 0.5);
}

.newsletter .newsletter-form .background:hover {
  background: rgba(255, 255, 255, 0.7);
}

.newsletter .newsletter-form .background:focus {
  background: rgba(255, 255, 255, 0.9);
}

.newsletter .newsletter-form .button {
  cursor: pointer;
  border: none;
}

/* Utility 2 */

/* Footer */

.footer .container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* grid-template-rows: repeat(3, auto); */
  grid-gap: 4rem;
  line-height: 2rem;
}

.footer .container .list-title {
  font-family: "Merienda", cursive;
  font-weight: normal;
  font-size: 1.1rem;
  padding: 2rem 0;
}

.footer .container ul > li {
  list-style: none;
}

.footer .container .social {
  grid-column: 1/-1;
  text-align: end;
}

.footer .container .social .social-link {
  display: inline-block;
  padding: 0.25rem;
  list-style: none;
}

.footer .footer-bottom {
  display: flex;
  justify-content: space-between;
  grid-column: 1 / -1;
}
.footer .footer-bottom > * {
  color: #000;
  text-decoration: none;
  display: inline-block;
}

.footer .pw-logo {
  grid-row: 2;
  grid-column-end: -1;
}
